<div class="panel panel-info">

    <div class="panel-heading">User Groups</div>

    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group ">

                    <div class="input-group check-list-box">
                        <input id="RoleIds5" name="RoleIds" type="checkbox" value="2">
                        <label for="RoleIds5">Admin</label> &nbsp; 
                        <input id="RoleIds6" name="RoleIds" type="checkbox" value="3">
                        <label for="RoleIds6">CSO</label> &nbsp; 
                        <input id="RoleIds7" name="RoleIds" type="checkbox" value="4">
                        <label for="RoleIds7">BDG-Sales</label> &nbsp; 
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>