<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GimsDataContext" connectionString="data source=VALOGIX1\VALOGIX;initial catalog=Gims2;user id=sa;password=suagmijo345730;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>