@using CNC.Core.Security


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BreadCrumbContent{
    <li><i class="fa fa-laptop"></i> Applications</li>
    <li class="active"><i class="fa fa-info-circle"></i>Item Inquiry</li>
}

@{
    var itemNon2nd = "";

    if (!string.IsNullOrEmpty(ViewBag.ItemNo2nd))
    {
        itemNon2nd = string.Format(" - {0}",(string) ViewBag.ItemNo2nd);
    }
}


@section PageTitleContent{

    <i class="fa fa-info-circle"></i>Item Inquiry  @itemNon2nd
}

@section MainContent{
    
    @using (Html.BeginForm("Index", "ItemInquiry", new { itemNo = ViewBag.ItemNo2nd }, FormMethod.Get, new { id = "itemInquiryForm", @class = "form-horizontal" }))
    {
        if (((UserPrincipal) User).IsSLS)
        {
            {
                Html.RenderAction("ItemInformationSg", new {itemNo = ViewBag.ItemNo2nd});
            }
        }
        else
        {
            {
                Html.RenderAction("ItemInformationRC", new { itemNo = ViewBag.ItemNo2nd });
            }            
        }

        //Html.TextBox("ShortItemNo");
    }
    
    @{Html.RenderAction("AdditionalInformation", new { itemNo = ViewBag.ItemNo2nd });}

    @{Html.RenderAction("StockStatus", new { itemNo = ViewBag.ItemNo2nd });}
    
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">RC Stocks</a></li>
                        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="true">Cross Reference</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            @{Html.RenderAction("BranchStocks", new { itemNo = ViewBag.ItemNo2nd });}
                        </div>
                        <div class="tab-pane " id="tab_2">
                            @{Html.RenderAction("CrossReferenceList", new { itemNo = ViewBag.ItemNo2nd });}
                        </div>
                    </div>
                </div>
            </div>
        </div>   
}

@section scripts{

    <script type="text/javascript">

        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });

        $('tr').on('shown.bs.collapse', function () {
            $(this).closest('tr').prev().find(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
        }).on('hidden.bs.collapse', function () {
            $(this).closest('tr').prev().find(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
        });

    </script>

}


















