

<div class="panel panel-info">

    <div class="panel-heading">Price Permissions</div>

    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            ListN
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            LCPL
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            SP
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>